body {
    background-color: #FEAA06;
}

/* Setting heights for different sections */
 .scroller-col {
    max-height: 88vh;   
}
.cont-height {
    max-height: 100vh;
}
.button-group {
    height: 6%;
}
.message-cont {
    height: 63%;
}
.email-text-area {
    height: 95%;
}
.att-height {
    height: 10%;
}
.header-tab {
    height: 12%;
    border-radius: 10px;
    background-color: white;
}
.full-height {
    height: 100vh;
}
.full-height-p {
    height: 100%;
}
.email-details {
    height: 25%;
}
.email-text-p {
    height: 69%;
}
.email-text-footer {
    height: 6%;
    border-radius: 10px;
    background-color: white;
}

/* Hide scrollbar */
.scroller-hide::-webkit-scrollbar {
    display: none;
}
.header-tab {
    height: 12%;
    border-radius: 10px;
    background-color: white;
}

/* Font sizes */
.small-fontsize {
    font-size: xx-small;
}

/* Background colors */
.mcol2-bg{
    background-color: #D3D3D3;
}
.mcol1-bg {
   color: white; 
}
.offcanvas-bg {
    background-color: #FEAA06;
    color: white;
}

/* Hover effects */
.email-hover:hover {
    color: #FEAA06;
    cursor: pointer;
}
.email-menu-hover:hover {
    color: black;
    cursor: pointer;
}
#mobile_menu {
    cursor: pointer;
}

/* Blur for email cards not selected */
.blur{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.6;
  }

.my-container {
    border: 1px solid green;
}
.my-row {
    border: 1px solid red;
}
.my-col {
    border: 1px solid black;
}