body {
    background-color: #FEAA06;
}


 .scroller-col {
    max-height: 88vh;
    
}

.cont-height {
    max-height: 100vh;
}

.scroller-hide::-webkit-scrollbar {
    display: none;
  }

.card-height {
    font-size: smaller;
}

.header-tab {
    height: 12%;
    border-radius: 10px;
    background-color: white;
}

.button-group {
    height: 6%;
}

.message-cont {
    height: 63%;
}

.att-height {
    height: 10%;
}

.small-fontsize {
    font-size: xx-small;
}

.full-height {
    height: 100vh;
}
.full-height-p {
    height: 100%;
}

.mcol3-bg {
    background-color: #D3D3D3;
}

.mcol2-bg{
    background-color: #D3D3D3;
}

.mcol1-bg {
   color: white; 
}

.email-hover:hover {
    color: #FEAA06;
    cursor: pointer;
}

.email-menu-hover:hover {
    color: black;
    cursor: pointer;
}

#mobile_menu {
    cursor: pointer;
}

.offcanvas-bg {
    background-color: #FEAA06;
    color: white;
}

.blur{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.6;
  }